/*
Folha de estilo de site one page html5 e css3
augusto zano domingos
*/
/*CSS Reset*/
*{
margin:0;
border:0;
padding:0;
}
  /* importacao de google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }
  /*layout*/
  .Container{
    margin: 0 auto;
    background-color: #dcdcdc;
  }
  /* topo do site*/
  #topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
/*  smartphone vertical*/

/*smartphone horizontal*/
 @media (min-width:576px) {
    body{
        background-color: #0ff;
    }
    .Container{
        max-width: 540px;
    }
 }
/*table vertical*/
@media (min-width: 768px){
body{
    background-color: #ff0;
}
.Container{
    max-width: 720px;
}
}
/*tablet horizontal*/
@media (min-width: 992px){
    body{
     background-color: #ff6600;
    }
    .Container{
        max-width: 960px;
    }
}
/*pc*/
@media (min-width:1200px){
    body{
       background-color: #f00; 
    }
    .Container{
        max-width: 1140px;
    }
}
